<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picsapp.moamenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Ad data -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4010171402649915~5502252008" />

        <!-- "launchMode" to not repeat the Activity when click on it many times -->
        <activity
            android:name=".Activity.ImagesActivity.ImagesZahrahActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />

        <activity
            android:name=".Activity.ImagesActivity.ImagesErtugleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesMorningActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesDowaaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesIslamActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesMoqNabaweActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesSaleheenActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesAqsaActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesOthersActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.ImagesActivity.ImagesRamadanActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />

        <!-- Quran surah Activity -->

        <activity android:name=".Adapter.Picasso.PicassoDisplayWallpaperImage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Adapter.Picasso.PicassoDisplayOtherImages"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activity.Project.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".Activity.Project.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>