<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.picsapp.moamenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Ad data -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4010171402649915~5502252008" />

        <!-- "launchMode" to not repeat the Activity when click on it many times -->
        <activity
            android:name=".Activity.Category.ImagesZahrahActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />

        <activity
            android:name=".Activity.Category.ImagesErtugleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesMorningActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesDowaaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesIslamActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesMoqNabaweActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesSaleheenActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesAqsaActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesOthersActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />
        <activity
            android:name=".Activity.Category.ImagesRamadanActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SliderActivityTheme" />

        <!-- Quran surah Activity -->
        <activity android:name=".Activity.Surah.QuranSurah1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah4"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah5"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah6"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah7"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah8"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah9"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah10"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah11"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah12"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah13"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah14"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah15"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah16"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah17"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah18"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah19"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah20"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah21"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah22"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah23"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah24"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah25"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah26"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah27"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah28"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah29"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah30"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah31"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah32"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah33"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah34"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah35"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah36"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah37"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah38"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah39"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah40"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah41"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah42"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah43"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah44"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah45"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah46"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah47"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah48"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah49"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah50"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah51"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah52"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah53"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah54"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah55"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah56"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah57"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah58"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah59"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah60"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah61"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah62"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah63"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah64"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah65"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah66"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah67"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah68"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah69"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah70"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah71"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah72"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah73"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah74"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah75"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah76"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah77"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah78"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah79"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah80"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah81"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah82"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah83"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah84"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah85"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah86"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah87"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah88"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah89"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah90"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah91"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah92"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah93"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah94"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah95"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah96"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah97"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah98"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah99"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah100"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah101"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah102"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah103"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah104"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah105"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah106"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah107"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah108"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah109"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah110"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah111"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah112"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah113"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Surah.QuranSurah114"
            android:screenOrientation="portrait"/>

        <activity android:name=".Adapter.Picasso.PicassoDisplayWallpaperImage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Adapter.Picasso.PicassoDisplayOtherImages"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activity.Project.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>